* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header-infirmation {
  background-color: rgb(252, 246, 246);
  padding: 200px 0 10px 30px;
  height: 550px;
  width: 100vw;
  font-size: 15px;
  display: none;
}
.job {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 80px;
  padding-left: 10px;
}
.job:hover {
  background-color: rgb(243, 231, 231);
  height: 70px;
  width: 380px;
  border: transparent;
}
.job p {
  font-size: 17px;
}
.job p a {
  text-decoration: none;
  color: #108a00;
  font-size: 15px;
}
.breack-line{

border: 1px solid rgb(214, 212, 212);
display: inline-block;
height: 360px;
width: 1px;
margin: -270px 0 0 400px  ;
}
.right-left a{

text-decoration: none;
color: #108a00;


}
.header-infirmation-right{

display: flex;
justify-content: space-around;
width: 800px;
line-height: 35px;
margin: -350px 20px 20px 350px;


}
.right-right li:hover{

background-color: gray;
width: 250px;
height: 40px;
border-radius: 9px;
padding-left: 10px;


}